#table-nhan-vien th {
  white-space: nowrap;
  font-size: 0.85rem;
}

#table-nhan-vien td {
  font-size: 0.85rem;
  vertical-align: middle;
}

.btn-view-nhan-vien i,
.btn-edit-nhan-vien i,
.btn-delete-nhan-vien i {
  font-size: 1rem;
}

.flatpickr-calendar {
  z-index: 99999 !important;
}

/* Override Chrome autofill background */
#form-nhan-vien input:-webkit-autofill,
#form-nhan-vien input:-webkit-autofill:hover,
#form-nhan-vien input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--bs-body-color);
  -webkit-box-shadow: 0 0 0 1000px var(--bs-body-bg) inset;
  transition: background-color 5000s ease-in-out 0s;
}